@{ ViewBag.Title = "Detail";}
@model Catagorie

<div class="col-md-12 grid-margin stretch-card w-50">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title fs-3 text-warning">@Model.Name</h4>
           
            <p class="text-primary fs-3">
                @Model.Description
            </p>
        </div>
    </div>
</div>