@{
    Layout = null;
}
@model Product;

<div class="row" id="ParentNode">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
        <div class="product-item text-center" data-id="popular">
            <div class="img">
                <a href="">
                    <img src="~/img/@(Model.ImgSrc)" class="img-fluid" alt="">
                </a>
            </div>
            <div class="title mt-3">
                <h6>@(Model.Name)</h6>
            </div>
            <div class="price">
                <span class="text-black-50"><a style="text-decoration:none;color:gray;" asp-controller="Product" asp-action="Basket" asp-route-id="@Model.Id">Add to cart</a></span>
                <span class="text-black-50">$@(Model.Price)</span>
            </div>
        </div>
    </div>

</div>

