@{
    ViewBag.Title = "Update";
}

@model UpdateCityVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">City form</h4>
            <p class="card-description">
                Basic form layout
            </p>
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" id="CityName" placeholder="Name" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Population"></label>
                    <input asp-for="Population" class="form-control" id="CityPopulation" placeholder="Population" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Population"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsCapital"></label>
                    <input style="width:20px;height:20px;display:inline-block;" asp-for="IsCapital" class="form-control" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="Index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

@section CostumScripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
