@{
    ViewBag.Title = "Update";
}

@model UpdateRoleVM


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Role Form</h4>
            <p class="card-description">
                Basic form layout
            </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Role"></label>
                    <input asp-for="Role" class="form-control" placeholder="Role Name" autocomplete="off">
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section CostumScripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}