@{
    ViewBag.Title = "Index";

}
@model CreateProductVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> Create Product </h4>
            <p class="card-description">
                Basic form layout
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" class="form-control" id="ProductName" placeholder="Name">
                    <span asp-validation-for="Image" class=" text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" id="ProductName" placeholder="Name">
                    <span asp-validation-for="Name" class=" text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" id="ProductPrice" placeholder="Name">
                    <span asp-validation-for="Price" class=" text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CatagoryId"></label>
                    <input asp-for="CatagoryId" class="form-control"  placeholder="Catagoryid">
                    <span asp-validation-for="CatagoryId" class=" text-danger"></span>
                </div>



                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section CostumScripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

